	<!-- Carousel Begins Here  -->  
		<div class="container">  
			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
					<li data-target="#carousel-example-generic" data-slide-to="1"></li>
					<li data-target="#carousel-example-generic" data-slide-to="2"></li>
				</ol>
				<!-- Wrapper for slides -->
				<div id="this-carousel-id" class="carousel slide"><!-- class of slide for animation -->
				  <div class="carousel-inner">
  					<div class="item active"><!-- class of active since it's the first item -->
  					  <%= image_tag('pic1.png')%>
  					</div>
  					<div class="item">
  					  <%= image_tag('pic2.png')%>
  					</div>
  					<div class="item">
  					  <%= image_tag('pic3.jpg')%>
  					</div>
    				</div><!-- /.carousel-inner -->
						<div class="container">
  					<div class="carousel-caption">
  					
    					  <div class="overlay">
      					  <h1>Hello from Waddle!</h1>
      					  <p>Start vizualizing your travel footprint!</p>
      				
    					  
    					  <p><%= link_to "", user_omniauth_authorize_path(:foursquare), :class => "btn foursquare" %></p>
    <!-- 					  <p><a class="btn btn-lg btn-info" href="#" role="button">Log with twitter</a></p> -->
                </div>
  					</div>
  					</div>

				<!-- End of Carousel-Inner Wrapper -->
				<!-- Controls -->
					<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left"></span>
					</a>
					<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right"></span>
					</a>
			</div>
		</div><!-- End of Carousel -->
				<!--Why - What Box-->
<!--
		<div class="row">
			<div class="col-md-6">
				<h2>What Is Waddle?</h2>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
			</div>
			<div class="col-md-6">
				<h2>Why Use Waddle?</h2>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
			</div>
		</div>
-->
		
				<hr>
		<!--Footer Area -->
		<footer>
<!--
		<div class="row well">
			<div class="col-md-4">
				<h3>Heading</h3>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
			</div>
			<div class="col-md-4 ">
				<h3>Heading</h3>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
			</div>
			<div class="col-md-4">
				<h3>Heading</h3>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
			</div>
			<div class="row">
				<div class="col-md-12">
					Waddle &copy 2014
				</div>
			</div>
		</div>
-->
		</footer>