
	<!-- Map Begins Here  --> 
  <div id="map-container" class="container"> </div>
  <style>
    #map { position:relative; float: right; height: 500px; width: 1140px; }
  </style>
  <div id='map'></div>
  <script>
    //map = L.mapbox.map('map', 'waddleuser.hlae5cf4')
    //           .setView([40, -74.50], 9);
  </script>
